/*.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.v-messages__message {
  line-height: 18px !important;
  font-size: 14px !important;
}

.v-card__text {
  font-size: 1em !important;
}
.v-data-table th {
  font-size: 1em !important;
  padding: 8px !important;
}
.v-data-table td {
  font-size: 1em !important;
  padding: 8px !important;
}

.v-expansion-panel-header {
  font-size: 1.05em !important;
}
*/
